<div>
  <link href="./review.css" rel="stylesheet" />
  <div class="review-container">
    <img alt="image" src="public/1-200h.png" class="review-image" />
    <div class="review-container1">
      <div class="review-container2">
        <div class="review-stars">
          <svg viewBox="0 0 1024 1024" class="review-icon">
            <path
              d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
            ></path></svg
          ><svg viewBox="0 0 1024 1024" class="review-icon02">
            <path
              d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
            ></path></svg
          ><svg viewBox="0 0 1024 1024" class="review-icon04">
            <path
              d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
            ></path></svg
          ><svg viewBox="0 0 1024 1024" class="review-icon06">
            <path
              d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
            ></path></svg
          ><svg viewBox="0 0 1024 1024" class="review-icon08">
            <path
              d="M512 658l160 96-42-182 142-124-188-16-72-172v398zM938 394l-232 202 70 300-264-160-264 160 70-300-232-202 306-26 120-282 120 282z"
            ></path>
          </svg>
        </div>
        <span class="review-text"><span>Ion Ceban</span></span>
      </div>
      <span class="review-text1">
        <span>
          Hakunna Matata i eya jhsh fhaljf lea lea lea principal sanatate sigfdd
          fericirefsdfsdf vxcvxc x xc xc xc xc x x xx x x x xagd fg dfgdf def
          gdfg dfg dfgdfg 4re5gerg df gdf gdfg dfgdf gdfgd ffgdf gdf.
        </span>
      </span>
    </div>
  </div>
</div>
